@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&family=Roboto:wght@500&display=swap');
*{
    margin: 0%; 
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #0f0f0f;
    color: rgb(255, 255, 255);
}h1{
    color: #b83737;
    font-family: 'Nunito Sans';
}p{
    font-family: 'Roboto';
}a{
    font-family: 'Roboto';
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}

/*navbar*/
.nav{
    background-color: #282828;
    box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}.nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}.nav a:hover{
    color: rgb(185, 185, 185);
}

/*inicio*/
.inicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    padding-top: 100px;
    z-index: 100%;
}.inicio h1{
    border-right: 2px solid white;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 30px;
}.inicio p{
    font-size: 30px;
}.inicio img{
    z-index: 5;
}

.botao{
    display: flex;
    align-items: center;
}.botao a{
    padding: 10px;
    margin: 10px 5px 5px 0px ;
    border: 3px solid;
    border-radius: 10px;
    border-color: #b83737;
    text-decoration: none;
    color: #ffffff;#f8b538
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    
}.botao :hover{
    background-color: #282828;
    border-color: #fbb127;
}
.botao img{
    margin: 0;
}

#avatar{
    border-radius: 40%;
}
/*projetos*/
.projeto{

}.projeto h1{
    margin-top: 100px;
    margin-left: 5%;
}
.cardgroup{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}
.card{
    background-color: #000000;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 400px;
    border-radius: 10px 10px 0px 0px;
    
}.card a{
    color: #ffffff;
    text-decoration: none;
    height: 30px;
    border: 3px solid #b83737;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}.card a:hover{
    background-color: #282828;
    border-color: #fbb127;
}.card p{
    margin: 10px;
    
}.card img{
    border-radius: 10px 10px 0px 0px;
}

/*sobre*/
.sobre{
    
}.sobre h1{
    margin-top: 100px;
    margin-left: 5%;
    
}
.eu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin: 10px;
    flex-wrap: wrap;
   
}.eu p{
        width:360px;
        margin-left: 20px;
        padding-bottom: 15px;
}.eu img{
    margin-bottom:20px;
    border-radius: 10px;
}

/*footer*/
footer{
    background-color: rgb(40, 40, 40) ;
    box-shadow: 0px 1px 5px rgba(35, 35, 35, 2); 
    width: 100%;
    height: 80px;
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}.footer a{
    margin-left: 5px;
    text-decoration: none;
    color: #b83737;
}

/*srollbar*/
::-webkit-scrollbar{
    background-color: #0f0f0f;
    border: #282828 1px solid;
    width: 15px;
}::-webkit-scrollbar-thumb{
    background-color: #282828;
    border-radius: 10px;
}

.inicio, .projeto, .sobre{
    visibility: hidden;
}

/*animacoes*/
.cursor-animation{
    animation: cursor 800ms steps(35) infinite normal, escrever 2.5s steps(25) 0s normal ;
    
}

.float{
    animation: flutuar 3s ease-in-out infinite;


}

@keyframes escrever{
    from{
        width: 0;
    }
    to{
        width: 190px;
    }
}
@keyframes cursor{
    from{
        border-right-color: white;
    }
    to{
        border-right-color: transparent;
    }
}

@keyframes flutuar{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
}